<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>
      Adicionar Ração
    </title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/adicionarRação.css" />
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
      <link rel="stylesheet" href="../css/styles.css">
  </head>
  <body>
  <div id="page-container">
    {{>header}}
      <div id="content-wrap">

    <section id="content">
      <h3 class="message">{{response}}</h3>
      <div class="wrapper">
        <form method="POST">  
          <input class="racao-input" name="nome" type="text" placeholder="Nome da ração" required/>
          <hr class="racao-rule" />
          <div class="container">
            <div class="row">
              <div class="col-md-4 item">
                <label class="racao-label" for="racao">Ingredientes usados por kg de ração</label>
                {{#each ingredientes}}
                  <input class="racao-input" name="{{nome}}" type="number" placeholder="{{nome}} g" min="0" required/>
                {{/each}}
              </div>
              <div class="col-md-4 item">
                <label class="racao-label" for="animals">Animais que consomem</label>
                <input class="racao-input" name="animals" type="text" placeholder="Lagarto" required/>
              </div>
              <div class="col-md-4 item">
                <label class="racao-label" for="price">Valor</label>
                <input class="racao-input" name="price" type="number" placeholder="R$ 15,00/Kg" min="0" step="0.01" required/>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-block racao-button">
            Adicionar Ração
          </button>
        </form>
      </div>
    </section>
      </div>
    {{>footer}}
  </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
