<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Carrinho</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/vendas_carrinho.css" />
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<div id="page-container">
    {{>header}}
    <main id="content-wrap">
    <div class="retangulo-carrinho clearfix">
          <!--Abre retangulo maior-->
          <header>
            <h3>Ração {{tipo}}</h3>
          </header>
          <div class="retangulo-content">
            <!--Abre retangulo menor 1/3-->
            <h3 id="menu">Quantidade total comprada</h3>
            <p id="quant">{{somatoria}}</p>
          </div>
          <div class="retangulo-content">
            <!--Abre retangulo menor 2/3-->
          </div>
          <div class="retangulo-content">
            <!--Abre retangulo menor 3/3-->
            <h3>Valor</h3>
            <p>R${{preco}}/Kg</p>
          </div>
          <div class="retangulo-lista">
            <!--Abre retangulo lista de clientes-->
            <h3>Lista de clientes</h3>
            <p>
              <table>
                <thead>
                  <th>Nome</th>
                  <th>Email</th>
                  <th>Telefone</th>
                  <th>Quantidade</th>
                  <th>Remover</th>
                </thead>
                <tbody>
                    <form action="/efetuarVenda" method="POST">
                    {{#each carrinho as |item index|}}
                      <tr>
                        <input type="text" name="somatoria" value="{{../somatoria}}" style="display: none;">
                        <input type="text" name="tipo" value="{{this.tipo}}" style="display: none;">
                        <td><input type="text" name="nome" readonly value="{{this.nome}}"></td>
                        <td><input type="text" name="email" readonly value="{{this.email}}"></td>
                        <td><input type="text" name="telefone" readonly value="{{this.telefone}}"></td>
                        <td><input type="number" name="quant" readonly value="{{this.quantidade}}"></td>
                        <td><a href="/removerCliente/{{this.nome}}"><img class="excluircliente" src="../imagens/trash-solid.svg"alt="Lixo para descartar um cliente do carrinho"></a></td>
                      </tr>
                    {{/each}}
                </tbody>
              </table>
              
            </p>
            <p><h3>Total pago:<span class="text-right">R${{Dimdim}}</span></h3></p>
                  <input type="submit" name="submit" value="Efetuar Venda">
                  </form>
          </div>
    </div>
    <p class="link-centralizado"><a href="/vendas">Voltar</a></p>
    </main>

   {{>footer}}
</div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
