<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Clientes</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="../css/clientes.css" />
  <link rel="stylesheet" href="../css/header.css" />
  <link rel="stylesheet" href="../css/styles.css" />
  <link rel="stylesheet" href="../css/footer.css" />
  <script src="https://kit.fontawesome.com/34f5234bc5.js" crossorigin="anonymous"></script>
</head>

<body>
  <main id="page-container">
    {{>header}}
    <section id="content">
      <div class="top-bar">
        <h2 class="page-title">Clientes</h2>
        <form id="search">
          <input class="search-input" placeholder="Nome do cliente" type="text" required>
          <button type="submit" class="btn btn-primary search-button"><i class="fas fa-search"></i></button>
        </form>
      </div>
      <button type="button" onclick="addCliente()" id="novoCliente-btn" class="btn btn-block client-button">
        + Adicionar cliente
      </button>

      <div id="form-novoCliente" style="display: none">
        <form method="POST" class="forms" style="padding: 2rem 10% 3rem 10%">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputNome">Nome do Cliente</label>
              <input name="nome" type="text" class="form-control" id="inputNome" placeholder="Nome" required>
            </div>
            <div class="form-group col-sm-6">
              <label for="inputEmail">E-mail</label>
              <input name="email" type="email" class="form-control" id="inputEmail" placeholder="xxxxxxx@yyyyy.com"
                required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Endereço</label>
            <input name="address" type="text" class="form-control" id="inputAddress" placeholder="Rua Principal 1234"
              required>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-6">
              <label for="inputFone">Telefone</label>
              <input name="tel" type="tel" class="form-control" id="inputFone" placeholder="(dd) xxxxx-xxxx" required>
            </div>
            <div class="form-group col-md-6">
              <label for="inputCPF">CPF/ CNPJ</label>
              <input name="cpfCnpj" type="text" class="form-control" id="inputCPF" placeholder="123.345.678-90"
                required>
            </div>
          </div>
          <button type="submit" id="addBtn">Criar</button>
        </form>
      </div>

      <div id="clientes">
        <h3 class="message">Pesquise um Cliente!</h3>
      </div>
    </section>

    {{>footer}}
  </main>
  <script src="./js/clientes.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.0.1/mustache.min.js"></script>
</body>

</html>