<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;900&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/styles.css"/>
    <link rel="stylesheet" href="../css/header.css"/>
    <link rel="stylesheet" href="../css/footer.css"/>
    <title>Estoque</title>
</head>
<body style="background-color: #e4e3e3">
    <main id="page-container">
        <section id="content-wrap">
            {{>header}}

            <div style="display: block; margin: 5% 10%">
                <div style="display: inline;">
                    <h2 style="color: #3b6978; float: left; font-family: Roboto, sans-serif; font-weight: bold">Estoque</h2>
                    <div>
                        <button class="button" id="np-btn" onclick="addNew('tb-estoque', 'form-place-estoque')">Novo Produto</button>
                    </div>
                </div>

                <div id="form-place-estoque" class="new-form" style="display: none">
                    <form id="form-estoque" onsubmit="setTimeout(function(){window.location.reload();},100);" class="forms" method="post" style="padding: 2rem 10% 3rem 10%">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                            <label for="produtoEstoque">Produto</label>
                            <input type="text" class="form-control" id="produtoEstoque" placeholder="Produto">
                            </div>
                            <div class="form-group col-md-4">
                            <label for="quantidadeInput">Quantidade(kg)</label>
                            <input type="text" class="form-control" id="quantidadeInput" placeholder="0.0">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="preçoInput">Preço</label>
                                <input type="text" class="form-control" id="preçoInput" placeholder="0.0">
                            </div>
                        </div>
                        <button id="addBtn" type="submit">Criar</button>
                    </form>
                </div>

                <div id="edit-txt" style="display: none; font-family: Roboto, sans-serif; font-weight: 900; justify-content: center; margin-top: 5rem">
                    Você já pode editar!</div>

                <div style="padding-bottom: 2rem; margin-top: 2rem">
                    <table class="table table-striped table-responsive-md">
                        <thead style="background-color: #3b6978; color: white; text-align: center; font-size: large">
                        <tr>
                            <th scope="col">Produto</th>
                            <th scope="col">Quantidade(kg)</th>
                            <th scope="col">Preço</th>
                            <th scope="col" style="font-style: italic">Opções</th>
                        </tr>
                        </thead>
                        <tbody id="tb-estoque" style="text-align: center; background-color: #FFFFFF; font-weight: 600" contenteditable="false">
                        </tbody>
                    </table>
                </div>
                <a href="/fornecedores"> <button id="change-page-btn" style="width: 11rem"><span>Fornecedores </span></button></a>
            </div>
        </section>

        <footer id="footer"></footer>

    </main>

    <script src="../js/script.js"></script>
    <script src="./js/estoque.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>