<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Fornecedores</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet" />

</head>
<body style="background-color: #e4e3e3">
<div id="page-container">
    <div id="content-wrap">
        {{>header }}

        <div style="display: block; margin: 5% 10%">
            <div style="display: inline;">
                <h2 style="color: #3b6978; float: left; font-family: Roboto, sans-serif; font-weight: bold">Fornecedores</h2>
                <div>
                    <button class="button" id="nf-btn" onclick="addNew('tb-fornecedores', 'form-place-fornecedores')">Novo Fornecedor</button>
                    <input type="text" id="searchFornecedor" class="table-input" onkeyup="search()" placeholder="Pesquisar fornecedor...">
                </div>
            </div>

            <div id="form-place-fornecedores" class="new-form" style="display: none">
                <form id="form-fornecedor" method="post" class="forms" style="padding: 2rem 10% 2rem 10%">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="fornecedor-input">Fornecedor</label>
                            <input type="text" class="form-control" id="fornecedor-input" placeholder="Nome" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="cnpj-input">CNPJ</label>
                            <input type="text" class="form-control" id="cnpj-input" placeholder="12.345.678/9012-34" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="address-input">Endereço</label>
                            <input type="text" class="form-control" id="address-input" placeholder="Rua xxxxxx" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="emailFornecedor">E-mail</label>
                            <input type="text" class="form-control" id="emailFornecedor" placeholder="nome@email.com" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="telefoneFornecedor">Telefone</label>
                            <input type="text" class="form-control" id="telefoneFornecedor" placeholder="(dd) xxxxx-xxxx" required>
                        </div>

                        <!--
                        <div class="form-group col-sm-6">
                            <label for="produtoFornecido">Produto Fornecido</label>
                            <input type="text" class="form-control" id="produtoFornecido" placeholder="Ex.: Milho" required>
                        </div>
                        -->
                    </div>
                    <button id="addBtn" type="submit">Criar</button>
                </form>
                <div id="Error" style="color: red; padding: 1rem 10% 1rem 10%"></div>
            </div>

            <div id="edit-txt-f" style="display: none; font-family: Roboto, sans-serif; font-weight: 900; justify-content: center; margin-top: 5rem">
                Você já pode editar!</div>

            <div style="padding-bottom: 2rem; margin-top: 2rem">
                <table class="table table-striped table-responsive-md">
                    <thead id="t" style="background-color: #3b6978; color: white; text-align: center; font-size: large">
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">CNPJ</th>
                        <th scope="col">Endereço</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Email</th>
                        <th scope="col" style="font-style: italic">Opções</th>
                    </tr>
                    </thead>
                    <tbody id="tb-fornecedores" style="text-align: center; background-color: #FFFFFF; font-weight: 600" contenteditable="false">

                    </tbody>
                </table>
                <div id="msg" style="display: flex; justify-content: center"></div>
            </div>
            <p id="msg"></p>
            <a href="/estoque"><button id="change-page-btn"><span>Estoque </span></button></a>

        </div>
    </div>


    <footer id="footer"></footer>

</div>

<script src="./js/fornecedores.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="../js/script.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

</body>
</html>