<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/home.css">
        <link rel="stylesheet" href="../css/styles.css">

        <title>Página Inicial</title>
    </head>

    <body style="background-color: #e4e3e3">
        <header>
            <nav class="navbar header">
                <a class="navbar-brand" style="color: white; font-size: xx-large; font-family: Roboto, sans-serif; font-weight: 900" href="#">EmpresaX</a>
            </nav>
        </header>

        <div class="box">
            <div class="container" style="padding-bottom: 30px">
                <a href="/estoque"><button class="btn"><img src="../imagens/estoque.png"><br>
                    Estoque e Fornecedores</button>
                </a>
            </div>
            <div class="container" style="padding-bottom: 30px">
                <a href="/vendas"><button class="btn"><img src="../imagens/vender.png"><br>
                Vendas</button>
                </a>
            </div>
            <div class="container">
                <a href="/clientes">
                    <button class="btn"><img src="../imagens/cliente.png"><br>
                    Clientes</button>
                </a>
            </div>
        </div>


        <footer class="footer"></footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>