<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/login.css">
    <title>Iniciar Sessão</title>
</head>

<body>
    <div class="page-container">
        <div style="margin: 0 10% 0 10%">
            <h1 class="msg">Bem Vindo à EmpresaX!</h1>
            <hr style="position:center; width: 60%; margin-top: 2%">

            <div class="login-box">
                <div id="msg" style="padding-bottom: 10px"></div>
                <div id="HomeBtn"></div>
                <form id="form-login" method="post">
                    <div>
                        <label for="inputLogin">Login</label>
                    <br>
                        <input type="text" id="inputLogin" class="box">
                    </div>
                    <div style="padding-top: 3rem">
                        <label for="inputSenha">Senha</label>
                        <br>
                        <input type="password" id="inputSenha" class="box">
                    </div>
                    <button type="submit" class="btn-login">
                        Entrar
                    </button>
                </form>
            </div>

        </div>
    </div>

    <script src="./js/login.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>