<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>
    Vendas
  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="../css/vendas_carrinho.css" />
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/styles.css">
  <script src="https://kit.fontawesome.com/34f5234bc5.js" crossorigin="anonymous"></script>
</head>

<body>
  <div id="page-container">
    <div id="content-wrap">
      {{>header}}
      <main>
        <p class="addracao"><a href="/adicionarRacao">adicionar ração</a></p>
        {{#each bancoderacao}}
        <div class="retangulo clearfix">
          <!--Abre retangulo maior-->
          <header>
            <h3 class="tipo">Ração {{this.Tipo}}
              <a href="/removerRacao/{{this.Tipo}}"><img src="../imagens/trash-solid.svg"
                  alt="Lixo para descartar um tipo de ração"></a></h3>
          </header>
          <div class="retangulo-content">
            <!--Abre retangulo menor 1/3-->
            <h3 id="menu">Quantidade (Fabricável)</h3>
            <p id="quant">{{this.Quantidade}}</p>
            <div class="invisivel">
              <h3>Ingredientes usados por Kg de ração</h3>
              <p>Soja: {{this.Soja}}g | Milho: {{this.Milho}}g</p>
              <p>Proteina: {{this.Proteina}}g | Açucar: {{this.Acucar}}g</p>
              <p>Sugo: {{this.Sugo}}g | Sal: {{this.Sal}}g</p>
            </div>
          </div>
          <div class="retangulo-content">
            <!--Abre retangulo menor 2/3-->
            <h3>Animais que comem</h3>
            <p>{{this.Animais}}</p>
            <div class="invisivel">
              <h3>Quantidade em estoque</h3>
              <p>Soja: {{../bancoestoque.Soja}}Kg | Milho : {{../bancoestoque.Milho}}Kg</p>
              <p>Proteina: {{../bancoestoque.Proteina}}Kg | Açucar : {{../bancoestoque.Acucar}}Kg</p>
              <p>Sugo: {{../bancoestoque.Sugo}}Kg | Sal: {{../bancoestoque.Sal}}Kg</p>
            </div>
          </div>
          <div class="retangulo-content">
            <!--Abre retangulo menor 3/3-->
            <h3>Valor</h3>
            <p class="price">R${{this.Preco}}/Kg</p>
          </div>
          <div class="retangulo-lista invisivel">
            <!--Abre retangulo lista de clientes-->
            <h3>Lista de clientes</h3>
            <form class="client-search">
              <input type="text" class="search" required>
              <button type="submit" class="search-lista">
                <i class="fas fa-search"></i>
              </button>
            </form>
            <form action="/addcarrinho" method="POST">
              <table>
                <thead>
                  <th>Nome</th>
                  <th>Email</th>
                  <th>Telefone</th>
                  <th>Quantidade</th>
                  <th>Selecionar</th>
                </thead>
                <tbody class="clientes">
                  <h3 class="message">Pesquise um Cliente!</h3>
                </tbody>
              </table>
              <input type="submit" name="submit" value="Submit">
            </form>
          </div>
        </div>
        {{/each}}
        <p class="link-centralizado"><a href="/carrinho">Ver Carrinho de vendas</a></p>
      </main>
    </div>
    {{>footer}}
  </div>
  <script src="../js/vendas.js"></script>
  <!--tem que deixar aqui embaixo pra funcionar-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.0.1/mustache.min.js"></script>

</body>


</html>