<nav id="header" class="navbar navbar-dark navbar-expand-lg">
    <a class="navbar-brand header-title" href="/home">EmpresaX</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/estoque">Estoque e Fornecedores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/vendas">Vender</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/clientes">Clientes</a>
            </li>
        </ul>
    </div>
</nav>