body {
    font-family: 'Roboto', sans-serif;
    background-color: #e4e3e3;
}

#content {
    padding: 6% 10% 90px;
}

.message {
    margin-top: 15px;
    text-align: center;
    font-weight: 500;
    color: #3B6978;
}
.wrapper {
    padding: 2% 4%;
    background-color: #C4C4C4;
    border-radius: 18px;
    border: none;
    word-wrap: normal;
}


.racao-rule {
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

.item {
    padding: 3%;
}
.racao-label {
    font-weight: bold;
    color: #666666;
}

.racao-input, .racao-input:checked {
    width: 50%;
    padding: 5px 10px;
    text-align: left;
    margin-top: 6px;
    background: #FFFFFF;
    border-radius: 30px;
    font-weight: bold;
    border: none;
    color: #000000;
}




.racao-button, .racao-button:hover, .racao-button:visited, .racao-button:focus{
    color: #ffffff;
    font-weight: bold;
    margin: 15px auto 0;
    border-radius: 0;
    border: none;
    background-color: #3B6978;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 200px;
}
