body {
    font-family: 'Roboto', sans-serif;
    background-color: #e4e3e3;
}


#content {
    padding: 2% 10% 90px;
}

.page-title {
    font-weight: 500;
    color: #3B6978;
}
.top-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#search {
    display: flex;
    flex-flow: row nowrap;
}
.search-input, .search-input:checked {
    text-align: left;
    background: #FFFFFF;
    border-radius: 30px;
    padding: 7px 14px;
    font-weight: bold;
    margin-right: 15px;
    font-weight: 400;
    color: #000000;
}

.search-button, .search-button:hover {
    border: none;
    background-color: #3B6978;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition-duration: 0.3s;
}

.search-button:hover {
    transition-duration: 0.3s;
    box-shadow: 0 5px 7px #3B6978;
} 
.message {
    margin-top: 15px;
    text-align: center;
    font-weight: 500;
    color: #3B6978;
}


.user {
    position: relative;
    margin-top: 15px;
    padding: 2% 4%;
    background-color: #C4C4C4;
    border-radius: 18px;
    border: none;
    word-wrap: normal;
}

.user-title {
    font-size: 1rem;
    color: #666666;
    font-weight: bold;
    text-align: center;
}

.trash-can{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 35px;
    background: none;
    border: 0;
}

.card-rule {
    margin-top: 0;
    margin-bottom: 1rem;
}

.container {
    margin: 0;
    padding: 0;
}

.user-label {
    font-weight: bold;
    color: #666666;
}

.client-button, .client-button:hover, .client-button:visited, .client-button:focus{
    color: #ffffff;
    font-weight: bold;
    margin: 15px auto 0;
    border-radius: 3px;
    border: none;
    background-color: #3B6978;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 200px;
    transition-duration: 0.3s;
}

.client-button:hover {
    transition-duration: 0.3s;
    box-shadow: 0 5px 7px #3B6978;
}

#form-novoCliente {
    background-color: #84a9ac;
    margin-top: 2.5rem;
    border-radius: 10px;
}