#header {
    background-color: #3b6978; 
    padding-left: 10%; 
    padding-right: 10%;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-title {
    font-weight: 900;
    font-size: xx-large;
}

.nav-link {
    font-weight: 300;
}