.header{
    width: 100%;
    background-color: #3b6978;
    padding-left: 10%;
}
.footer {
    position: relative;
    margin-top: 13.5%;
    width: 100%;
    background-color: #3b6978;
    height: 3rem;
    text-align: center;
    color: white;
}
.box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 12% 10% 10% 10%;
    font-family: Roboto, sans-serif;
}
.container{
    position: relative;
    width: 350px;
}
.container img {
    width: 100%;
    height: auto;
}
.container .btn{
    color: black;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    border-radius: 2rem;
    width: 80%;
}
.container .btn:hover{
    background-color: #84a9ac;
}