body {
    background-color: #e4e3e3
}

.page-container{
    display: block;
    text-align: center;
    color: #3b6978;
    margin-top: 7%;
}

.box{
    border-radius: 0.6rem;
    background-color: #C4C4C4;
    font-size: 1.2rem;
}

label{
    font-size: larger;
    font-weight: bold;
}

.msg{
    font-size: 3.8rem;
    font-weight: bold;
    font-family: Roboto, sans-serif;
}

.login-box{
    margin: 2.7rem 10rem ;
    padding-top: 2rem;
    position: center;
}

input{
    height: 2.1rem;
    width: 20rem;
    text-align: center;
    font-size: 1.9rem;
    color: black;
    font-family: Roboto, sans-serif;
}

.btn-login{
    margin-top: 3.3rem;
    border-radius: 1rem;
    background-color: #3b6978;
    color: white;
    width: 7rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.btn-login:active {
    background-color: #84a9ac;
}


#home-btn {
    border-radius: 4px;
    background-color: #3b6978;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: large;
    padding: 0.5%;
    width: 10rem;
    transition: all 0.5s;
    cursor: pointer;
}

#home-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#home-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#home-btn:hover span {
    padding-right: 3rem;
}

#home-btn:hover span:after {
    opacity: 1;
    right: 0;
}