body{
    font-family: 'Roboto', sans-serif;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 3rem;
}

#change-page-btn {
    float: right;
    border-radius: 4px;
    background-color: #3b6978;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: large;
    padding: 0.5%;
    width: 10rem;
    transition: all 0.5s;
    cursor: pointer;
}

#change-page-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#change-page-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#change-page-btn:hover span {
    padding-right: 3rem;
}

#change-page-btn:hover span:after {
    opacity: 1;
    right: 0;
}

.button{
    border: 0;
    background-color: #C4C4C4;
    color: #3b6978;
    font-size: small;
    position: relative;
    top: 0.5rem;
    left: 3rem;
}

#addBtn {
    border-radius: 8px;
    background-color: #3b6978;
    color: #FFFFFF;
    width: 5rem;
    float: right;
    font-size: 1rem;
}

#button-table{
    float: right;
    border-radius: 4px;
    background-color: #3b6978;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: large;
    padding: 0.5%;
    cursor: pointer;
}

.table-input {
    font-size: 1rem;
    padding: 7px 7px 7px 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    float: right;
}

#save-row{
    border: 8px;
    font-size: 0.8rem;
    margin-right: 10px;
}

#exclude-row{
    border: 8px;
    font-size: 0.8rem;
}

.tb-btn{
    border: 0;
    background-color: #C4C4C4;
    color: #3b6978;
    font-size: small;
    font-style: italic;
    margin: 0 5px;
}

.new-form{
    background-color: #84a9ac;
    margin-top: 2.5rem;
    border-radius: 10px;
}

.new-form:hover{
    margin-top: 2rem;
    margin-left: 5px;
    box-shadow: -5px 20px 2px grey;
}