h3{
  color: #666;
  position: relative;
}
body {
  background-color: #e4e3e3;
  font-family: 'Roboto', sans-serif;
}
 header{
  text-align: center;
  border-bottom: solid #999494 2px;
  width: 95%;
  margin: 0 auto;
}
header img{
  height: 25px;
  float: right;
}
.text-right{
  position: absolute;
  right: 10px;
}

.addracao{
  text-align: right;
  margin: 1em 5em 0;
}
.retangulo{
  background-color: #c4c4c4;
  border-radius: 15px;
  width: 90%;
  margin: 10px auto;
  padding: 20px;
  font-weight: bold;
}
.retangulo-carrinho{
  background-color: #c4c4c4;
  border-radius: 15px;
  width: 90%;
  margin: 10px auto;
  padding: 20px;
  font-weight: bold;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
.retangulo:hover .retangulo-content{
  height: 15em;
  transition: all .5s;
}
.retangulo:hover .invisivel{
  display: block;
}
.toggleMenu{
  color: red !important;
  display: block;
  width: 500px;
  height: 500px;
}
.retangulo-adicionar{
  height: 9em;
}
.retangulo-adicionar img{
  display: block;
  height: 100%;
  margin: 0 auto;
}
.retangulo h3{
  font-size: 1.25em;
}
.retangulo-content{
  margin-left: 1%;
  width: 32%;
  height: 7em;
  float: left;
  position: relative;
  top: 20px;
}
.invisivel{
  display: none;
}
input{
  display: inline-block;
  width: 100%;
}
input:focus{
  border: 3px solid rgb(73, 191, 157);
  outline: none;
}
input{
  background-color: #eaeaea;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid transparent;
  margin-bottom: 10px;
}
.chk{
  display: inline-block;
  background-color: #aaa;
  width: 50px;
  height: 25px;
  border-radius: 10px;
  border: 2px solid transparent;
  position: relative;
}
.chk::before{
  content: '';
  display: block;
  position: absolute;
  left: 1px;
  top: 2px;
  width: 17px;
  height: 17px;
  border-radius: 17px;
  background-color: #555;
  transition: all .2s;
}
input[type="checkbox"]:checked + .chk::before{/*alterando a bolinha*/
  transform: translateX(24px);
  background-color: #000;
}
input[type="checkbox"]:checked + .chk{/*alterando o retangulo ovalado*/
  background-color: #fff;
}
input[type="checkbox"]{
  opacity: 0;/*esconde o input*/
  overflow: hidden;
  width: 1px;
  height: 1px;
}
input[type="checkbox"]:focus + .chk{
  border: 2px solid cyan;
}

table{
  border-collapse: collapse;
  width: 100%;
}

th{
  padding: 10px;
}

td{
  text-align: center;
  padding: 10px;
}
tr{
  border-bottom: #000 1px solid;
  
}
tr:last-child{
  border-bottom:  none;
}

.retangulo-content:nth-child(3){/*tomar cuidado para nao aumentar o numero de filhos da div pai pq senao vai mudar o index aqui*/
  text-align: left;
  padding-left: 30px;
}
.retangulo-content:nth-child(4),.resultado h3,.resultado p{
  text-align: right;
}
.search{
  display: block;
  width: 23%;
  position: absolute;
  right: 0;
  top: 200px;
}
.retangulo-lista{
  position: relative;
}

.message {
  text-align: center;
  font-weight: 500;
}

.retangulo-lista h3{
  border-bottom: solid #666 2px;
}
.search-lista{
  height: 30px;
  position: absolute;
  right: 1%;
  top:210px;
  z-index: 1;
  border: none;
}

.excluircliente{
  height: 3em;
}
.link-centralizado{
  text-align: center;
}
.resultado{
  margin-right: 15px;
}
